h2 Отчёт об отключении файлов
p 
  span Пользователем&nbsp
  span= job.user
  span &nbspв&nbsp
  span= job.ts.toLocaleString()
  span &nbspуже запущено отключение файлов&nbsp
  span= files
p Повторите запрос позже.
a(href="/")
  button Вернуться на страницу управления