extends layout
block css
    link(rel='stylesheet', href='/styles/index.css')
block scripts
    script(src="/scripts/files.js")
block content
    - if (session.user) {
        div#workArea
            h1 Выберите задачу:
            div#notifyUpdate
                h2 Отправить уведомление
                div#buttonNotify.manageButtons
                    | Отправить оповещение по jabber:&nbsp
                    br
                    q Обновлены базы данных. Администратор
                div#confirmSend
                    | Уведомление будет отправлено всем пользователям jabber?
                    div
                        button(name="confirmSend", value="yes")
                            img(src="/images/dialog-ok-apply.png" alt="Отправить" title="Отправить" width="16px" heigth="16px")
                            |  Да, отправить
                        button(name="confirmSend", value="no", autofocus)
                            img(src="/images/dialog-close.png" alt="Закрыть" title="Закрыть" width="16px" heigth="16px")
                            |  Нет, отменить
            
            div#filesManagment
                h2 Отключить файлы
                div#buttonDB1.manageButtons
                    | Отключить файлы в каталоге Database\DB1:&nbsp
                    strong file1
                div#buttonDB2.manageButtons
                    | Отключить файлы в каталоге Database\DB2:&nbsp
                    strong file1, file2
                 div#buttonDB3.manageButtons
                    | Отключить файлы в каталоге Database\DB3:&nbsp
                    strong file1, file2, file3
                div#buttonDB4.manageButtons
                    | Отключить файлы в каталоге Database\DB4:&nbsp
                    strong file1
                div#confirmDisconnect
                    | Все открытые файлы будут закрыты. Подтверждаете?
                    div
                        button(name="confirmDisconnect", value="yes")
                            img(src="/images/dialog-ok-apply.png" alt="Подтвердить" title="Подтвердить" width="16px" heigth="16px")
                            |  да
                        button(name="confirmDisconnect", value="no", autofocus)
                            img(src="/images/dialog-close.png" alt="Отменить" title="Отменить" width="16px" heigth="16px")
                            |  нет
        - }