extends layout
block css
    link(rel='stylesheet', href='/styles/index.css')

block content
    div#filesManagment
        - if (session.user) {
        form(method="POST", action="/disconnect")
            button(name="fileGroup", value="buttonDB1")
               | Отключить файлы Database\db1\file1.mdb
        form(method="POST", action="/disconnect")
            button(name="fileGroup", value="buttonDB2")
               | Отключить файлы Database\db2\file1.mdb
        - }