body 
        {
        font-size: 18px;
    }
    
#login,#errorMsg,#filesManagment
{
    height: 15em;
    margin: 8em auto 0;
}

#login { width: 18em; }
#errorMsg,#filesManagment { width: 800px; }

header
{
    position: fixed;
    right: 1em;
    top: 1em;
}

footer
{
    position: fixed;
    right: 1em;
    bottom: 1em;
    font-size: 16px;
    width:  25%;
    text-align: right;
}
form div, #loginInfo,#filesManagment button { margin: 0.5em 0; }

#errorMsg p, #filesManagment > ul > li {margin: 0.5em;}

