h2 Отчёт об отключении файлов:
ul
    - each out,num in jadeReport
        - if (out) {
            li= out.resultTxt
                - if (out.resultNums == 1) {
                    br
                    | Закрыта&nbsp
                    = out.resultNums
                    | &nbspсессия.
                - }
                - if ((out.resultNums >= 2)&&(out.resultNums <= 4)) {
                    br
                    | Закрыто&nbsp
                    = out.resultNums
                    | &nbspсессии.
                - }
                - if (out.resultNums >= 5) {
                    br
                    | Закрыто&nbsp
                    = out.resultNums
                    | &nbspсессий.
                - }
        - } else {
            li Нет подключений к файлу&nbsp
               strong= jadeFiles[num] 
        - }
a(href="/managefiles")
    button Вернуться на страницу управления